*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .conteiner{
    width: 100vw;
    height: 100vh;
} */

.principal{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 70vh;
}

.principal > aside{
    width: 20vw;
    background-color: brown;
}

.principal > main{
    width: 80vw;
    background-color: brown;
}

footer{
    width: 100vw;
    height: 10vh;
    background-color: brown;
}