html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner{
    display: grid;
    grid-template-areas: "h h h h""a m m m""f f f f";
    grid-template-rows: 20% auto 10%;
    gap: 10px;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header{
    grid-area: h;
    background-color: brown;
}

aside{
    grid-area: a;
    background-color: brown;
}

main{
    grid-area: m;
    background-color: brown;
}

footer{
    grid-area: f;
    background-color: brown;
}